---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedIn from '../components/Icons/LinkedIn.astro';
import GitHub from '../components/Icons/GitHub.astro';
import Mail from '../components/Icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Suitcase from '../components/Icons/Suitcase.astro';
import Code from '../components/Icons/Code.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
import ProfileCheck from "../components/Icons/Profile.astro"
---

<Layout title="Portfolio de Alex Calizaya - Programador Jr" description="Contrata a Alex Calizaya para realizar proyectos de desarrollo software, análisis de datos e IA/ML">
	<main class="px-5">
		<SectionContainer class="py-44 pb-32">
			<img class="rounded-full w-12 h-12 mb-4" src="https://w7.pngwing.com/pngs/535/328/png-transparent-cartoon-lion-head.png" alt="cali photo" />
			<h1 class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-2 pb-5">Hola, soy<span class="text-blue-400">Alex Calizaya</span><div class="flex justify-center items-center">
					<Badge>En busca de chamba</Badge>
				</div>
			</h1>
			<h2 class="text-base md:text-xl text-wrap max-w-[700px]">
				<span class="text-yellow-300 opacity-80">Desarrollador web y programador Jr.</span>
				<span class="text-gray-200"> Egresado de Ingeniería Mecatrónica en</span>
				<span class="text-blue-500 opacity-80 inline-flex">
					Pontificia Universidad Católica de Perú 
					<img src="https://scontent.flim38-1.fna.fbcdn.net/v/t39.30808-6/220961507_10159215284491310_3062319909914403409_n.png?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=VHlj88sGyYQQ7kNvgGBiGTs&_nc_ht=scontent.flim38-1.fna&oh=00_AYBArLaV7vjIlthen_Pac8SlQOPgQpp_UtjyBjC9TK34Jg&oe=66C2A26B" class="size-8 ml-2" />
				</span>
			</h2>
			
			<nav class="flex gap-6 mt-4 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/alexcalizaya/">
					<LinkedIn class="size-4 lg:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/AlexCalizaya">
					<GitHub class="size-4 lg:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:franciscocalizaya181@gmail.com">
					<Mail class="size-4 lg:size-6" />
					franciscocalizaya181@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2
			  class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white"
			>
			  <ProfileCheck class="size-8" />
			  Sobre mí
			</h2>
			<AboutMe />
		  </SectionContainer>


		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-5 flex gap-x-3 items-center">
				<Suitcase class="size-7"></Suitcase>
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2 class="text-2xl font-semibold mb-5 flex gap-x-3 items-center">
				<Code class="size-7"></Code>
				Proyectos
			</h2>
			<Projects />

		</SectionContainer>
	</main>
</Layout>

