---
 const personalImageAlt = "Alex Calizaya"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        Bachiller de Ingeniería Mecatrónica, apasionado por la tecnología y el desarrollo de
        soluciones innovadoras con impacto tangible. Destaco por mi<strong
        > proactividad, actitud tolerante y habilidades
        de liderazgo</strong
      >, las cuales han sido clave en la gestión del talento humano y el éxito en proyectos tanto
      académicos como laborales.
    </p>

    <p>
      Con un enfoque especial en la<strong
        ><em class="italic"> arquitectura de software, análisis de datos y
            tecnologías de la industria 4.0</em></strong
      >, estoy en búsqueda de oportunidades que me permitan aplicar mis
      conocimientos y habilidades para impulsar el avance tecnológico y contribuir positivamente a la sociedad.
    </p>
  </div>

  <img width="200" height="200" src="https://i.ibb.co/fCwLQ5J/1703914000999.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>